<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <app-image-display></app-image-display>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <app-image-next></app-image-next>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <app-image-input></app-image-input>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <app-success></app-success>
      <app-failed></app-failed>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <app-image-list></app-image-list>
    </div>
  </div>
</div>
